@font-face {
    font-family: 'Rye-Regular';
    src: url('./fonts/Rye-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('img/body_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Rye-Regular';
}

h1 {
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    position: relative;
    display: block;
}

.home_screen {
    position: relative;
    display: block;
    height: 480px;
    width: 720px;
}

.info_btn {
    position: absolute;
    top: 10px;
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.settings {
    top: 10px;
    height: 60px;
    justify-content: end;
}

.mobile_btns {
    display: none;
    top: 100vh;
    width: 100%;
    z-index: 1;
}

button img {
    height: 66px;
    width: 70px;
}

button {
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

.no_border {
    border: none;
}

.rotate_180 {
    rotate: 180deg;
}

.d_none {
    display: none;
}

.width_720 {
    width: 720px;
}

.d_flex {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.space_around {
    justify-content: space-around;
}

.position_absolute {
    position: absolute;
}

.items_center {
    align-items: center;
}

.jump_btn {
    position: absolute;
    bottom: 65px;
    right: 78px;
}

.bottle_btn {
    position: absolute;
    bottom: 65px;
    right: 146px;
}

.run_right_btn {
    position: absolute;
    bottom: 65px;
    left: 78px;
}

.run_left_btn {
    position: absolute;
    bottom: 65px;
    left: 0px;
}

.play_btn {
    position: absolute;
    top: 15px;
    right: 78px;
}

.loud_btn {
    position: absolute;
    top: 15px;
    right: 156px;
}

.mute_btn {
    position: absolute;
    top: 15px;
    right: 156px;
}

.info_btn {
    position: absolute;
    top: 15px;
    right: calc(156px + 78px);
}

.fulls_btn {
    position: absolute;
    top: 285px;
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        width: 100%;
    }

    .home_screen {
        height: 100vh;
        width: 100%;
    }

    .fulls_btn {
        display: none;
    }

    .mobile_btns {
    display: unset;
    }
    h1 {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .home_screen {
        width: 100%;
    }
}